.container {
    max-width: 1224px;
}

img {
    width: 100%;
}

h4 {
    padding-top: 40px;
}

p {
    padding-bottom: 15px;
}

h1 {
    font-weight: 600;
    margin: 50px auto;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #4BB2D7;
    border: 2px solid #4BB2D7;
}

.nav-pills > li > a {
    border: 2px solid #DBDBDB;

}

a {
    color: #DBDBDB;
    font-weight: 600;
    font-size: 10px;
}

.nav {
    padding-left: 180px;
}
.nav > li > a {
    padding: 16px 35px;
}

li {
    padding: 0 15px;
}

ul {
    margin: 0 auto;
}

.circle1 {
    border-radius: 50%;
    background-color: #171966;
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 5px;
}

.under-box {
    display: inline-block;
    padding-top: 15px;
}

.circle2 {
    border-radius: 50%;
    background-color: #4BB1D8;
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 5px;
}

.under-box p {
    font-size: 12px;
    float: left;
    margin-right: 35px;
}

.under-box-text {
    font-size: 12px;
}